USE [master]
GO
/****** Object:  Database [PBL3new]    Script Date: 8/29/2023 7:22:30 PM ******/
CREATE DATABASE [PBL3new]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL3new_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PBL3new.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PBL3new_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PBL3new.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL3new].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL3new]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[IDGiangVien] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[QueQuan] [nvarchar](50) NULL,
	[ChucDanhKH] [nvarchar](50) NULL,
	[SoDienThoai] [nchar](10) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[IDGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[maHocPhan] [int] NOT NULL,
	[TenHocPhan] [nvarchar](50) NULL,
	[SoTietThi] [int] NULL,
 CONSTRAINT [PK_HocPhan] PRIMARY KEY CLUSTERED 
(
	[maHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinhTrongLop]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinhTrongLop](
	[maLopHoc] [int] NOT NULL,
	[IDSv] [int] NOT NULL,
 CONSTRAINT [PK_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[maLopHoc] ASC,
	[IDSv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocSinhTrongPhongThi]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinhTrongPhongThi](
	[maLich] [nvarchar](50) NULL,
	[IDSv] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeHoach]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeHoach](
	[TuanBatDau] [int] NULL,
	[TuanKetThuc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThi]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThi](
	[maLich] [nvarchar](50) NOT NULL,
	[Tuan] [int] NOT NULL,
	[Thu] [int] NOT NULL,
	[TietBatDau] [int] NOT NULL,
	[TietKetThuc] [int] NULL,
	[maPhong] [int] NOT NULL,
	[maHocPhan] [int] NOT NULL,
 CONSTRAINT [PK_LichThi] PRIMARY KEY CLUSTERED 
(
	[maLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[maLopHoc] [int] NOT NULL,
	[maHocPhan] [int] NULL,
	[maGiangVien] [int] NULL,
	[isThiPhongMay] [bit] NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[maLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[maPhong] [int] NOT NULL,
	[sucChua] [int] NULL,
	[isPhongMay] [bit] NULL,
 CONSTRAINT [PK_PhongHoc] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[Lop] [nvarchar](50) NULL,
	[IDSv] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[NganhHoc] [nvarchar](100) NULL,
	[NoiSinh] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NULL,
	[SoDienThoai] [nchar](10) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[IDSv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThoiGian]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiGian](
	[soTuan] [int] NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
 CONSTRAINT [PK_ThoiGian] PRIMARY KEY CLUSTERED 
(
	[soTuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[Province] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tinh] PRIMARY KEY CLUSTERED 
(
	[Province] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/29/2023 7:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[TaiKhoan] [int] NOT NULL,
	[MatKhau] [nchar](50) NULL,
	[PhanQuyen] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GiangVien] ([IDGiangVien], [HoTen], [GioiTinh], [NgaySinh], [QueQuan], [ChucDanhKH], [SoDienThoai]) VALUES (102001, N'Nguyễn Tấn Khôi', 1, CAST(N'1973-02-08' AS Date), N'Quảng Ngãi', N'Phó Giáo Sư', N'0842125321')
INSERT [dbo].[GiangVien] ([IDGiangVien], [HoTen], [GioiTinh], [NgaySinh], [QueQuan], [ChucDanhKH], [SoDienThoai]) VALUES (102002, N'Phan Thanh Tao', 1, CAST(N'1979-01-01' AS Date), N'Quảng Nam', N'Thạc Sĩ', NULL)
INSERT [dbo].[GiangVien] ([IDGiangVien], [HoTen], [GioiTinh], [NgaySinh], [QueQuan], [ChucDanhKH], [SoDienThoai]) VALUES (102003, N'Phan Chí Tùng', 1, CAST(N'1961-01-01' AS Date), N'Quảng Nam', N'Thạc Sĩ', NULL)
GO
INSERT [dbo].[HocPhan] ([maHocPhan], [TenHocPhan], [SoTietThi]) VALUES (1020072, N'Phương pháp tính', 1)
INSERT [dbo].[HocPhan] ([maHocPhan], [TenHocPhan], [SoTietThi]) VALUES (1020141, N'PT & T.kế HĐT', 2)
INSERT [dbo].[HocPhan] ([maHocPhan], [TenHocPhan], [SoTietThi]) VALUES (1020252, N'CN phần mềm', 2)
GO
INSERT [dbo].[HocSinhTrongLop] ([maLopHoc], [IDSv]) VALUES (8, 102210231)
INSERT [dbo].[HocSinhTrongLop] ([maLopHoc], [IDSv]) VALUES (8, 102220051)
INSERT [dbo].[HocSinhTrongLop] ([maLopHoc], [IDSv]) VALUES (8, 102220053)
GO
INSERT [dbo].[KeHoach] ([TuanBatDau], [TuanKetThuc]) VALUES (47, 48)
GO
INSERT [dbo].[LopHocPhan] ([maLopHoc], [maHocPhan], [maGiangVien], [isThiPhongMay]) VALUES (8, 1023280, 102002, 1)
INSERT [dbo].[LopHocPhan] ([maLopHoc], [maHocPhan], [maGiangVien], [isThiPhongMay]) VALUES (9, 1023280, 102002, 1)
INSERT [dbo].[LopHocPhan] ([maLopHoc], [maHocPhan], [maGiangVien], [isThiPhongMay]) VALUES (10, 1023280, 102003, 1)
GO
INSERT [dbo].[PhongHoc] ([maPhong], [sucChua], [isPhongMay]) VALUES (101, 15, 0)
INSERT [dbo].[PhongHoc] ([maPhong], [sucChua], [isPhongMay]) VALUES (102, 15, 0)
INSERT [dbo].[PhongHoc] ([maPhong], [sucChua], [isPhongMay]) VALUES (103, 15, 0)
GO
INSERT [dbo].[SinhVien] ([Lop], [IDSv], [HoTen], [NgaySinh], [NganhHoc], [NoiSinh], [GioiTinh], [SoDienThoai]) VALUES (N'20T1', 102200008, N'Lê Hồng Anh', CAST(N'2001-01-01' AS Date), NULL, N'Đà Nẵng', NULL, NULL)
INSERT [dbo].[SinhVien] ([Lop], [IDSv], [HoTen], [NgaySinh], [NganhHoc], [NoiSinh], [GioiTinh], [SoDienThoai]) VALUES (N'20T1', 102200009, N'Nguyễn Hoàng Anh', CAST(N'2001-01-01' AS Date), NULL, N'Đà Nẵng', NULL, NULL)
INSERT [dbo].[SinhVien] ([Lop], [IDSv], [HoTen], [NgaySinh], [NganhHoc], [NoiSinh], [GioiTinh], [SoDienThoai]) VALUES (N'20T1', 102200010, N'Đỗ Trần Bình', CAST(N'2001-01-01' AS Date), NULL, N'Đà Nẵng', NULL, NULL)
GO
INSERT [dbo].[ThoiGian] ([soTuan], [NgayBatDau], [NgayKetThuc]) VALUES (23, CAST(N'2023-01-02' AS Date), CAST(N'2023-01-07' AS Date))
INSERT [dbo].[ThoiGian] ([soTuan], [NgayBatDau], [NgayKetThuc]) VALUES (24, CAST(N'2023-01-09' AS Date), CAST(N'2023-01-14' AS Date))
INSERT [dbo].[ThoiGian] ([soTuan], [NgayBatDau], [NgayKetThuc]) VALUES (25, CAST(N'2023-01-16' AS Date), CAST(N'2023-01-21' AS Date))
GO
INSERT [dbo].[Tinh] ([Province]) VALUES (N'An Giang')
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Bà Rịa-Vũng Tàu')
INSERT [dbo].[Tinh] ([Province]) VALUES (N'Bắc Giang')
GO
INSERT [dbo].[User] ([TaiKhoan], [MatKhau], [PhanQuyen]) VALUES (102001, N'102001                                            ', 1)
INSERT [dbo].[User] ([TaiKhoan], [MatKhau], [PhanQuyen]) VALUES (102002, N'102002                                            ', 1)
INSERT [dbo].[User] ([TaiKhoan], [MatKhau], [PhanQuyen]) VALUES (102003, N'102003                                            ', 1)
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_Tinh] FOREIGN KEY([QueQuan])
REFERENCES [dbo].[Tinh] ([Province])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_Tinh]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_User] FOREIGN KEY([IDGiangVien])
REFERENCES [dbo].[User] ([TaiKhoan])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_User]
GO
ALTER TABLE [dbo].[HocSinhTrongLop]  WITH CHECK ADD  CONSTRAINT [FK_HocSinhTrongLop_LopHocPhan] FOREIGN KEY([maLopHoc])
REFERENCES [dbo].[LopHocPhan] ([maLopHoc])
GO
ALTER TABLE [dbo].[HocSinhTrongLop] CHECK CONSTRAINT [FK_HocSinhTrongLop_LopHocPhan]
GO
ALTER TABLE [dbo].[HocSinhTrongLop]  WITH CHECK ADD  CONSTRAINT [FK_HocSinhTrongLop_SinhVien] FOREIGN KEY([IDSv])
REFERENCES [dbo].[SinhVien] ([IDSv])
GO
ALTER TABLE [dbo].[HocSinhTrongLop] CHECK CONSTRAINT [FK_HocSinhTrongLop_SinhVien]
GO
ALTER TABLE [dbo].[HocSinhTrongPhongThi]  WITH CHECK ADD  CONSTRAINT [FK_HocSinhTrongPhongThi_LichThi] FOREIGN KEY([maLich])
REFERENCES [dbo].[LichThi] ([maLich])
GO
ALTER TABLE [dbo].[HocSinhTrongPhongThi] CHECK CONSTRAINT [FK_HocSinhTrongPhongThi_LichThi]
GO
ALTER TABLE [dbo].[HocSinhTrongPhongThi]  WITH CHECK ADD  CONSTRAINT [FK_HocSinhTrongPhongThi_SinhVien] FOREIGN KEY([IDSv])
REFERENCES [dbo].[SinhVien] ([IDSv])
GO
ALTER TABLE [dbo].[HocSinhTrongPhongThi] CHECK CONSTRAINT [FK_HocSinhTrongPhongThi_SinhVien]
GO
ALTER TABLE [dbo].[KeHoach]  WITH CHECK ADD  CONSTRAINT [FK_KeHoach_ThoiGian] FOREIGN KEY([TuanBatDau])
REFERENCES [dbo].[ThoiGian] ([soTuan])
GO
ALTER TABLE [dbo].[KeHoach] CHECK CONSTRAINT [FK_KeHoach_ThoiGian]
GO
ALTER TABLE [dbo].[KeHoach]  WITH CHECK ADD  CONSTRAINT [FK_KeHoach_ThoiGian1] FOREIGN KEY([TuanKetThuc])
REFERENCES [dbo].[ThoiGian] ([soTuan])
GO
ALTER TABLE [dbo].[KeHoach] CHECK CONSTRAINT [FK_KeHoach_ThoiGian1]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [FK_LichThi_PhongHoc] FOREIGN KEY([maPhong])
REFERENCES [dbo].[PhongHoc] ([maPhong])
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [FK_LichThi_PhongHoc]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_GiangVien] FOREIGN KEY([maGiangVien])
REFERENCES [dbo].[GiangVien] ([IDGiangVien])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_GiangVien]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_HocPhan] FOREIGN KEY([maHocPhan])
REFERENCES [dbo].[HocPhan] ([maHocPhan])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_HocPhan]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Tinh] FOREIGN KEY([NoiSinh])
REFERENCES [dbo].[Tinh] ([Province])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Tinh]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_User] FOREIGN KEY([IDSv])
REFERENCES [dbo].[User] ([TaiKhoan])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_User]
GO
USE [master]
GO
